<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Portfolio example</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quaerat autem repellendus!</p>
    <p>
      <a routerLink="/a-propos" class="btn btn-red">À propos</a>
    </p>
  </div>
</section>
<div *ngIf="projects.length > 0" class="portfolio">
  <div class="container">
    <div class="row">

      <div *ngFor="let project of projects" class="col-md-4">
        <div class="card box-shadow">
          <img class="card-img-top" src={{project.image}} alt={{project.title}} />
          <div class="card-body">
            <h3 class="card-subtitle">{{ project.title }}</h3>
            <p class="card-text">{{ project.description }}</p>
            <span class="text-muted">{{ project.categories }}</span>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn group">
                <a *ngIf="isAuthenticated" routerLink="/detail/{{ project.id }}" class="btn btn-sm">Modifier</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>