<div [style.background-image]="'url(assets/img/cover.jpg)'" class="cover text-center">
  <div class="home">
    <h1>Angular Portfolio Example</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ad porro eum. Culpa voluptatibus commodi fugit laboriosam quia temporibus enim mollitia eveniet harum amet placeat, iste, distinctio nobis natus sapiente.</p>
    <p class="lead">
      <a routerLink="/portfolio" class="btn btn-lg btn-red">Voir le portfolio</a>
    </p>
  </div>
</div>